# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.sass-cache
*.sublime-*

.DS_Store
components
css
resume.html
node_modules
test/coverage
test/dist
